* {
    box-sizing: border-box;
}

label {
    font-family: sans-serif;
    margin-bottom: 5px;
    display: inline-block;
    font-size: 16px;
}

.input-wrap > * {
    height: 34px;
    font-size: 15px;
}

.input-wrap select, .input-wrap input[type="date"], .input-wrap input[type="number"] {
    width: 100%;
}

.input-wrap .unit {
    font-size: 17px;
    font-family: sans-serif;
    display: inline-block;
    margin-left: 10px;
    vertical-align: baseline;
    height: auto;
}

input[type="submit"] {
    height: 35px;
    padding: 0 30px;
    font-size: 17px;
    margin-top: 18px;
}